<ul class= "AuthenticatedNavbar">
  <li><a (click) = "logout()" routerLink="/Home" routerLinkActive= "active">LogOut</a></li>
</ul>

<div id="subject" class="subject">
    <form >
        <label for="UserName"> UserName:</label>
        <select name="UserName" id="UserName">
        </select>
        
        <br><br>
        
      
    

        <button id= "Deactivate" type= "button"  (click) = "deactivateUsers()" >Deactivate The Account</button>
        <button id= "Reactivate" type= "button"  (click) ="reactivateUsers()">Reactivate The Account</button>
        
      </form>
      
      
      
      
</div>
