
<app-navbar></app-navbar>
  


<div id="subject" class="subject">
    <form >
        <label for="Subject">Subject:</label>
        <select name="Subject" id="Subject">
        <option value="Subject">Search by Subject</option>
        </select>
        
        <br><br>
        
      

    

      
        <label for="CourseNumber">Course Number:</label>
        <input type="text" maxlength="5" name="CourseNumber" id="CourseNumber">
          
        
        <br><br>
      

      
        <label for="Component">Component:</label>
        <select name="Component" id="Component">
        <option value = "Component"> Search by Component</option>
        <option value = "LEC">LEC</option>
        <option value = "LAB">LAB</option>
        <option value = "TUT">TUT</option>
        </select>
        
        <br><br>

    

        <button id= "Submit" type= "button"  (click) = "courseSearch()" >Submit</button>
        <br><br>
        <label for="Keywords">Keyword</label>
        <input type= "text" name="Keywords" id="Keywords">
        <br><br>
        <button id = "KeywordSubmit" type= "button" (click)= "keywordSearch()">Search</button>
        
      </form>


</div>
        <div id= "resultbox"></div> 

        <div *ngFor = "let course of courses" >

          
          <h1>{{ course.subject}} {{course.catalog_nbr}}</h1>
          <h3>{{ course.className }}</h3>
          <button class= "DetailButton" (click) = "showDetail(course.subject, course.catalog_nbr)" id= "DetailButton">Details</button>
          
          <table>
            <tr>
                <th>Section</th>
                <th>Component</th>
                <th>Days</th>
                <th>Start Time</th>
                <th>End Time</th>
                
           </tr>
              <tr>
                <td>{{ course.course_info[0].class_section }}</td>
                <td class="{{ course.course_info[0].ssr_component }}">{{ course.course_info[0].ssr_component }}</td>
                <td>{{ course.course_info[0].days }}</td>
                <td>{{ course.course_info[0].start_time }}</td>
                <td>{{ course.course_info[0].end_time }}</td>
              
                
              </tr>
  
        </table>
  
  
       </div>
